

#successmsg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    color: rgb(26, 90, 0);
    background-color: #f9caa6;
    font-weight: bolder; 
    visibility:hidden;
}
a{
    text-decoration:none;
}
.social a{
    padding: 10px;
    color:black;
    font-size:0.6rem;
}
#contact{
    align-items: center;
}
.contact-box{
    background-color:#b6f97f;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 30px rgba(0,0,0,0.1);
}
.c-heading h1{
        font-family:'Times New Roman', Times, serif;
        text-align: center;
        color: black;
        font-size: 1.3rem;
        font-weight: lighter;
        margin: 0px;
        padding: 0px;
    }
.c-heading p{
        font-family:'Times New Roman', Times, serif;
        color:black;
        font-size: 0.6rem;
        font-weight: lighter;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .c-inputs{
        margin: 3px 0px;
        margin-left:60px;
        justify-content: center;
        align-items: center;
    }
    .c-inputs input{
        width:150px;
        height: 35px;
        font-weight: bolder;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(82,82,82,1);
        outline: none;
        margin: 5px 5px;
        width:300px;
        padding: 4px;
        box-sizing: border-box;
        color: black;
    }
    .c-inputs textarea{
        width:300px !important;
        height: 150px !important;
        outline: none;
        background-color: transparent;
        border:1px solid rgba(82,82,82,1);
        color: balck;
        font-weight: bold;
        padding: 7px;
        font-size:12px;
        box-sizing: border-box;
    }
    .c-inputs span,#msg{
        color:red;
        font-size: 14px;
       padding-left: 60px;
    }
    #msg{
        margin-top:50px;
     
    }
    .c-inputs #btnsubmit,#btnreset{
        width:200px;
        height: 40px;
        background: linear-gradient(to right, #f5650b, #46251a);
        color:white;
        border: none;
        outline: none;
        margin-top: 8px;
        margin-left: 30px;
        border-radius: 10px;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
        letter-spacing: 1px;
        margin-right: 50px;
        text-align: center;
    }
    
    .c-inputs #btnsubmit:hover,#btnreset:hover{
        background: linear-gradient(to right, #67b26b, #4ca2cb);
        color: black;
    }
    .c-inputs input:focus{
        border-bottom: 1px solid rgba(252,252,252,1.00);
        transition: all ease 0.5s;
    }
    .c-inputs textarea:focus{
        border: none;
        border-bottom: 1px solid rgba(255,255,255,1.00);
        transition: all ease 0.5s;
        background-color: rgba(0,0,0,0.1);
    }
    .c-inputs #btnsubmit:active{
        transform: scale(1.02);
    }
    .map{
        box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
        border: 2px solid #FFFFFF;
        margin-left: unset;
        margin-bottom: 30px;
        width:360px;
        height:600px;
        overflow-y: hidden;
    }
    .social{
        padding-top:10px;
        margin-top:20px;
        padding-bottom: 30px;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    }
    .social a{
        border:2px solid black;
        font-size:18px;
        background-color: #96f09a;
    }
    .social a:hover{
        color:#000000;
        background-color: white;
    }
    #contact-details{
        margin-left:100px;
        margin-top:10px;
    }
    #contact-details span{
        font-size:30px;
        text-align: center;
    }
    .icon {
        padding: 10px;
        margin-top:10px;
        background: dodgerblue;
        color: white;
        min-width: 50px;
        text-align: center;
        width: 60px;
        height: 50px;
        border-radius: 50%;
        font-size: 40px;
        margin-bottom:20px;
    }
   .fa{
     font-size: 40px;
   }
   .details{
    margin-right: 100px;
    text-align: center;
   }
   .details h2{
    margin-bottom:5px;
   }
    /*for laptop / desktop screen */
@media only screen   
and (min-device-width : 1000px)   
and (max-device-width : 2000px) 
{
    
#successmsg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    color: rgb(26, 90, 0);
    background-color: #f9caa6;
    margin-left: 150px;
    margin-top: 20px;
    margin-right: 190px;
    font-weight: bolder; 
    visibility:hidden;
}
    .social a{
        padding: 20px;
        font-size:1.1rem;
    }
    #contact{
        display: flex;
        align-items: center;
        margin-left:100px;
    }
    .contact-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
        width:450px;
    }
    .c-heading h1{
            font-size: 2.5rem;
        }
    .c-heading p{
            font-size: 0.9rem;
        }
        .c-inputs{
            margin: 5px 0px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-left: 50px;
        }
        .c-inputs input{
            width:250px;
            height: 55px;
            margin: 8px 0px;
            padding: 7px;
            box-sizing: border-box;
            display: flex;
            margin-left: -50px;
        }
        .c-inputs textarea{
            padding: 10px;
            font-size: 15px;
            margin-left: -70px;
        }
        .c-inputs span{
            margin-left:0px;
        }
        .c-inputs span,#msg{
           padding-left: unset;
        }
        #btnsubmit{
            width:200px;
            height: 40px;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
            letter-spacing: 1px;
            text-align: center;
            text-justify: auto;
            padding-left: 80px;
        }
         #btnreset{
            width:200px;
            height: 40px;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
            letter-spacing: 1px;
            padding-left: 80px;
        }
        .map{
            width:unset;
        }
        .social{
            padding-top:10px;
            margin-top:20px;
            justify-content: center;
            align-items: center;
            margin-left: -30px;
        }
        .social a{
            font-size:18px;
        }
        #contact-details{
            display:flex;
            margin-left:300px;
            margin-top:50px;
        }
        #contact-details span{
            font-size:30px;
            text-align: center;
        }
       #showadd, #showcontact, #showemail, #showweb
       {
        visibility: hidden;
       }
        .icon {
            padding: 10px;
            background: dodgerblue;
            color: white;
            min-width: 50px;
            text-align: center;
            width: 80px;
            height: 70px;
            border-radius: 50%;
            font-size: 40px;
            padding-top: 20px;
            margin-bottom:30px;
        }
       .fa{
         font-size: 40px;
       }
       .details{
        margin-right: 100px;
        text-align: center;
       }
       .details h2{
        margin-bottom:10px;
       }
}